.main {
    margin: 0 auto;
    max-width: 1200px;
}

.logo_and_company_section{
    display:flex;
    justify-content:space-between;
    margin-top: 50px;
}

.p_txt{
    color:#55577E;
}

.form{
    max-width: 600px;
    margin: 0 auto;
}

.form_h2{
    margin: 24px 0 14px 0;
}

.form_h3{
    margin: 24px 0;
}

.separator{
    width: 100%;
    color: #C5C6E1;
    font-weight: bold;
    margin: 24px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.separator div{
    height: 1px;
    width: 80%;
    background: #C5C6E1;
}

.btn_container{
    display:flex;
    justify-content:flex-end;

}

.btn_container button{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 18px;
    background: #532EE4;
    border: none;
    color: white;
    font-size:18px;
    font-weight: 700;
    border-radius: 8px;
    margin: 24px 0;
    cursor: pointer;
}