.star_active {
    background: #532EE4;
    color: #532EE4;
    width: 54px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
  
  transform: scale(1);
  transition: transform 0.2s ease;}

.star_active:hover {
  transform: scale(0.8);
  transition: transform 0.2s ease 0.2s;
}
  

.star_active small {
    position: absolute;
    top: 19px;
    z-index: 1;
    width: 15px;
    height: 13px;
    background: rgb(255, 255, 255);
    text-align: center;
}

.star { 
    color: #ffffff;
    width: 54px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.star:hover { 
    transform: scale(1.2);
}

.star small {
    position: absolute;
    top: 19px;
    z-index: 1;
    width: 15px;
    height: 13px;
    background: #8F90BE;
    text-align: center;
}
.star_surpassed { 
    color: #F45D6F;
    width: 54px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}

.star_surpassed small {
    position: absolute;
    top: 19px;
    z-index: 1;
    width: 15px;
    height: 13px;
    background: #ffffff;
    text-align: center;
}