.starsRating_container{
    border: 1px solid #E1E1EE;
    background: #F8F8FC;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 600px;
    position: relative;
    overflow: hidden;
}
.starsRating_container .rate_stripe {
    position: absolute;
    border-radius: 100px;
    background: #F45D6F;
    height: 89%;
    border: 2px solid #ffffff;
    padding: 1px;
  
    transition: width 0.5s ease; 
  }